div(class='footer')
    div(class='container')
        div(class='row')
            div(class='col col-mg-12') All right
script(
    src="http://127.0.0.1:3000/js/nav.js"
    )
script(
    src="http://127.0.0.1:3000/js/cart.js"
    )