div(class='conteiner full-width')
    div(class='row')
        div(class='col col-md-4')
            a(
                class="logoGS",
                href="/")
                img(
                    src="http://127.0.0.1:3000/image/logoGS.png",
                    alt="Gogolshop")