div(class='conteiner full-width')
    div(class='row')
        div(class='col col-md-1')
            button(class='show-nav') <i class='fas fa-bars'></i>
        div(class='col col-md-11')
            a(href="/")
                h1 Welcome to store