div(class='conteiner full-width')
    div(class='row')
        div(class='col col-md-4')
            a(
                class="logoGS",
                href="/")
                img(
                    src="http://127.0.0.1:3000/image/logoGS.png",
                    alt="Gogolshop")
        div(class='col col-md-1')
        div(class='col col-md-2')
            a(href="goods.html") Товари
        div(class='col col-md-2')
            a(href="contact.html") Контакти
        div(class='col col-md-2')
            a(href="comments.html") Відгуки
        div(class='col col-md-1')
